@import url("https://fonts.google.com/specimen/Nunito+Sans");
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Pacifico&family=Quicksand&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width:100%;
    min-height: 100vh;
    background-color:antiquewhite;
    --fontColor:black;
    font-family: "Nunito Sans" sans-serif;
}

.cont{
    width: 100%;
    padding: 15px;
    padding-left: 70px;
    display: flex;
    justify-content:space-between;
    position: absolute;
font-family: 'Pacifico',sans-serif;
}
.cont:nth-child(1){
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.card {
    border: none; 
  }

  #countryDetails {
    padding: 20px; 
  }

  .list-group-item {
    border: none; 
  }
.container{

    padding-top: 100px;
    
    
}
